#menuButtons .button {
	-fx-background-color: #191970;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 10;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-pref-width: 250;
	-fx-pref-height: 100;
}

#menuItemLabels Label {
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
	-fx-font-size: 13px;
}